<div class="center">

    <img class="web-shop-logo" src="assets/images/logo-purple.png">
    <h1 style="color:  #3f51b5;">LOGIN</h1>
    <form (ngSubmit)="onSubmit()" class="column">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" type="text" name="username" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
        
        <button mat-button type="submit" >Prijavi se</button>
    </form>
    <div>
        Nemas nalog?
        <a href="/register">Registruj se</a>
    </div>
</div>